.container{
    display: flex;
    align-items: center;
    gap: 100px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.imageContainer img{
    object-fit: cover;
    /* animation: move 2s infinite ease alternate; */
}

@keyframes move {
    from{
        transform: translateY(-15px);
    }
    from{
        transform: translateY(15px);
    }
}
.heading{
    font-size: 72px;
    font-weight: 800;
    background: linear-gradient(to bottom, #194c33, #bbb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.talk{
    font-size: 22px;
    font-weight: 600;
}

